.info {
  background-color: #001b18;
  padding: 50px 0 0 0;
  z-index: 5;
  height: 1350px;
}

.info-contents {
  display: flex;
}

.info-content {
  width: 50%;
  margin: 50px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.info-content-imgs {
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  background: linear-gradient(#71b25a, #018678);
}

.info-content-context-title {
  font-size: 50px;
  color: white;
  text-align: left;
}

.small-line {
  border: 1px solid #71b25a;
  width: 65px;
}

.start {
  justify-content: start !important;
}

.info-content-context {
  width: 400px;
}

.info-content-context h2 {
  margin: 0;
}

.info-content-context p {
  color: white;
  font-size: 18px;
  text-align: left;
}

.info-content-context {
  text-align: left;
}

.info-content-context button {
  height: 52px;
  width: 194px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  background: linear-gradient(180deg, #71b25a 0%, #018678 100%);
}

.all img {
  width: 946px;
  height: 865px;
}

.blend {
  background-image: url("../img/blend.png");
  position: absolute;
  background-size: cover;
  width: 1392px;
  height: 1191px;
  opacity: 0.1;
  z-index: 0;
}

.about-left {
  top: 1480px;
  left: -839px;
}

.about-right {
  top: 894px;
  left: 1390px;
}
