.team {
  position: relative;
}

.hide {
  display: none;
}

.team h2 {
  color: white;
}

.team p {
  margin: 0;
  color: white;
}

.team-title {
  padding-top: 155px;
}

.team-title h2 {
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #018678;
  z-index: -1;
}

.team-title p {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  z-index: 2;
}

.team-title .small-line {
  margin: 20px auto;
}

.team-bar-title p {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}

.team-members-top {
  display: flex;
  justify-content: center;
}

.team-members-bottom {
  display: flex;
  justify-content: center;
}

.team-member {
  margin: 45px;
}

.team-member img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid rgba(113, 178, 90, 1);
}

.member-name {
  font-size: 28px;
  font-family: "Zootopia";
}

.member-role {
  font-size: 24px;
  font-family: "WaltUi";
}

.team-blend {
  position: absolute;
  top: -866px;
  left: -966px;
  width: 4017px;
  height: 3438px;
  opacity: 0.07;
  z-index: -1;
}
